p {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.checkout-page {
  display: grid;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
  .checkout-header {
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    border-bottom: #fd5800 solid 1px;
    height: 50px;
    align-items: center;
  }

  .cart-items {
    width: 100%;
    max-width: 600px;
    display: grid;
    border-bottom: #fd5800 solid 1px;
    .cart-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }
    .quantity-container {
      display: flex;
      align-items: center;
    }
  }

  .total {
    width: 100%;
    max-width: 600px;
    margin-right: 3rem;
    display: flex;
    align-items: center;
    font-size: 36px;
    justify-content: flex-end;
  }
  .test-warning {
    margin-top: 20px;
    margin-bottom: 2rem;
    padding: 1rem;
    color: red;
  }
}

.quantity-button {
  display: flex;
  align-items: center;
  appearance: none;
  background-color: #fd5800;
  border-radius: 15px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  fill: currentcolor;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: normal;
  overflow: visible;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  touch-action: manipulation;
  width: 25px;
  height: 25px;
  will-change: transform, opacity;
  z-index: 0;
  &:hover {
    transform: scale(1.1);
    transition: transform 200ms;
  }
}
.confirm-button {
  display: flex;
  align-items: center;
  appearance: none;
  background-color: #fd5800;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  fill: currentcolor;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 12px;
  height: 30px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  overflow: visible;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
  &:hover {
    transform: scale(1.1);
    transition: transform 200ms;
  }
}

.popup-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  .popup-container {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .popup-text {
      display: flex;
      justify-content: center;
      padding: 1rem;
      font-size: auto;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .popup-button-container {
      display: flex;
      .confirm-button {
        margin: 1rem;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        background-color: #fd5800;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
