body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  a:link {
    text-decoration: none;
  }
}

// header

.header-container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  width: auto;
  background-color: #fd5800;
  .logo-container {
    align-items: center;
    margin-left: 2rem;
    cursor: pointer;
    &.logo-container:hover {
      transform: scale(1.3);
      transition: transform 200ms;
    }
    .logoSvg {
      margin: 1rem;
      height: 60px;
      width: 60px;
    }
  }

  .options-container {
    width: 100%;
    height: 100%;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .quantity {
      height: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin-top: 1.2rem;
      margin-right: 3.66rem;
      padding: 0;
      color: antiquewhite;
    }
  }

  .signin-button {
    appearance: none;
    background-color: #ffffff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
      rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #393b3b;
    margin-bottom: 0.5rem;
    cursor: pointer;
    fill: currentcolor;
    font-size: 18px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    letter-spacing: 0.25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    width: auto;
    z-index: 0;
    &:hover {
      transform: scale(1.1);
      transition: transform 200ms;
    }
  }

  .checkout-logo {
    margin: 1rem;
    height: 30px;
    width: 30px;
    &:hover {
      transform: scale(1.3);
      transition: transform 200ms;
    }
  }
}

// main
.categories-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  .category-container {
    .image-container {
      display: grid;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
    }

    .category-image {
      display: inline-block;
      align-items: center;
      padding: 1rem;
      margin: 2rem;
      width: 200px;
      height: 325px;
      border: #fd5800 solid 1px;
      border-radius: 20px;
      object-fit: scale-down;
      &:hover {
        transform: scale(1.05);
        transition: transform 200ms;
      }
    }
    .category-button {
      appearance: none;
      background-color: #fd5800;
      border-radius: 24px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
        rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      height: 48px;
      justify-content: center;
      letter-spacing: 0.25px;
      line-height: normal;
      max-width: 100%;
      padding: 2px 24px;
      text-align: center;
      text-transform: none;
      width: auto;
      z-index: 0;
      &:hover {
        transform: scale(1.05);
        transition: transform 200ms;
      }
    }
  }
}

// footer

.footer-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: #f4eae0;
  .footer-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    .footer-logo-container {
      display: flex;
      align-items: center;
      .footer-logo {
        height: 60px;
        width: 60px;
        margin-right: 30px;
        margin-top: 10px;
      }
    }
  }
  .footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
.footer-description {
  color: #474b4b;
}

.social-container {
  display: flex;
  .social-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #393b3b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
  }
  .footer-title {
    color: #393b3b;
    margin-bottom: 30px;
  }

  .contact-item {
    color: #393b3b;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
}

.footer-bottom {
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: #cecece;
}
