.div {
  display: flex;
  align-items: center;
}
.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 500px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: #fd5800 solid 1px;

    .header-block {
      text-transform: capitalize;
      width: 80px;
      &:last-child {
        width: 8%;
      }
    }
  }

  .cart-items {
    display: grid;
    justify-items: center;
    border-bottom: #fd5800 solid 1px;
    .cart-items {
      display: flex;
      align-items: center;
    }
    .item-details {
      display: flex;
      align-items: center;
      display: flex;
      align-items: center;
      width: 500px;
      justify-content: space-between;
    }
  }
  .total {
    display: flex;
    width: 500px;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    font-size: 36px;
  }
  .test-warning {
    margin-top: 20px;
    margin-bottom: 2rem;
    color: red;
  }
}

.confirm-button {
  display: flex;
  align-items: center;
  appearance: none;
  background-color: #fd5800;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  fill: currentcolor;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 12px;
  height: 30px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  overflow: visible;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
  &:hover {
    transform: scale(1.1);
    transition: transform 200ms;
  }
}
