.container {
  display: flex;
  background-color: #e7f1f1;
  font: rgb(17, 7, 7);
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  color: rgb(12, 10, 10);
}

.desc {
  color: rgb(12, 10, 10);
  margin: 20px 0px;
}

.socialContainer {
  display: flex;
}

.socialIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: rgb(12, 10, 10);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}

.center {
  flex: 1;
  padding: 20px;
}

.title {
  color: rgb(12, 10, 10);
  margin-bottom: 30px;
}

.list {
  color: rgb(12, 10, 10);
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.listItem {
  color: rgb(12, 10, 10);
  width: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

.right {
  flex: 1;
  padding: 20px;
}

.bottom {
  background-color: #324040;
  padding-bottom: 10px;
}

.contactItem {
  color: rgb(12, 10, 10);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.payment {
  width: 50%;
}
