.productsContainer {
  margin: 20px;
  padding: 20px;
}

.productContainer {
  margin-bottom: 1rem;
  display: inline-block;
  align-items: center;
  .productImage {
    display: block;
    height: 90%;
    width: 90%;
    margin: 1rem;
    border-radius: 26px;
  }
  span {
    width: 100px;
  }
  .productName {
    text-align: center;
    color: #393b3b;
    font-size: 2em;
    font-weight: bold;
  }

  .price {
    text-align: center;
    color: #fd5800;
  }
}

.addToCartButtonContainer {
  text-align: center;
  align-items: center;
}

.addToCartButton {
  appearance: none;
  background-color: #fd5800;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  fill: currentcolor;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
  &:hover {
    transform: scale(1.1);
    transition: transform 200ms;
  }
}

.natification {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  padding: 1rem;
  margin-top: 7rem;
  margin-right: 3rem;
  background-color: #ffffff;
  border: rgba(0, 0, 0, 0.12) solid 1px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
  .natification-button {
    display: flex;
    align-items: center;
    appearance: none;
    margin-left: 1rem;
    background-color: #fd5800;
    border-radius: 30px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    fill: currentcolor;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 16px;
    height: 30px;
    width: 30px;
    justify-content: center;
    line-height: normal;
    overflow: visible;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    touch-action: manipulation;
    will-change: transform, opacity;
    z-index: 0;
  }
  .natification-text {
    font-size: 1.6rem;
    font-weight: bold;
    color: #393b3b;
  }
}
