.form-group {
  display: grid;
  justify-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: space-around;
  align-content: space-evenly;
  .form-items {
    justify-items: center;
    margin: 1rem;
    display: inline-grid;
    justify-content: space-around;
  }

  .form-item {
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .form-input {
      text-indent: 5px;
      font-size: 18px;
      height: 30px;
      width: 300px;
      border: 2px solid #fd5800;
      border-radius: 30px;
    }
  }
}
